.NavBar {
  position: fixed;
  top: 40px;
  right: 100px; /* or left: 400px if you prefer */

  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;

  z-index: 1000; /* ensures it floats above other elements */
}

.NavBar span {
  width: 30%;
  height: 1px;
  background-color: white;
}

.NavBarClicked{
  position: fixed;
  top: 0px;
  right: 0px; /* or left: 400px if you prefer */
  width: 20vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}