@font-face {
    font-family: elliot;
    src: url(/assets/RubikBrokenFax-Regular.ttf);
}

@font-face {
    font-family: elliot2;
    src: url(/assets/PostNoBillsJaffna-ExtraBold.ttf);
}



.FirstSection{
    
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #DA957C;
}

.container{
    display: flex;
    flex-direction: column;
   
}

.firstName{
    width: 100vw;
    display: flex;
}

.firstName .h{

    font-size: 300px;
    font-family: elliot;
    margin-left: 90px;
    width:20%;
}

.lastName{
    align-self: flex-end;
    display: flex;
    font-size: 300px;
    font-family: elliot2;
    margin-right: 130px;
   
}

.backgroundImage{
    align-self: center;
    justify-self: center;
    background-image: url("/assets/test.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.692) 50px 40px 1px;
}

